nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center
}

button {
  font-size: 16px;
  padding: 8px;
  padding-inline: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-inline: 16px;
  background-color: transparent;
}

.navLink {
  color: white;
  text-decoration: none;
}

.actions {
  padding-inline: 16px;
}