.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-header {
  font-size: 24px;
  margin-top: -16px;
  margin-bottom: 8px;
  margin-inline: -16px;
  background-color: #778877;
  padding: 8px 16px;
  padding-bottom: 16px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  display: block;
  width: 400px;
}

.form-body {
  text-align: center;
  padding: 8px;
}

.form-body input {
  padding: 8px;
  margin: 8px;
}

.form-body input::placeholder {
  text-align: center;
}

.form-body button {
  font-size: 16px;
  padding: 8px;
  padding-inline: 16px;
}